<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="2147483647" enable="true" executionTimeout="45"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString"
           connectionString="Data Source=tul1raztdb1;Initial Catalog=razer_uat;Persist Security Info=True;User ID=WSTran;Password=1Password0"
           providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString"
         connectionString="Data Source=tul1raztdb1;Initial Catalog=razer_test;Persist Security Info=True;User ID=WSTran;Password=1Password0"
         providerName="System.Data.SqlClient" />
    <add name="ConnectionString"
         connectionString="Data Source=tul1raztdb1;Initial Catalog=razer_test;Persist Security Info=True;User ID=WSTran;Password=1Password0"
         providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=tul1razddb1;Initial Catalog=razer;Persist Security Info=True;User ID=WSTran;Password=1Password0" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString"
         connectionString="Data Source=bdyer2;Initial Catalog=RobjectTest;Persist Security Info=True;User ID=WSTran;Password=1Password0"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.serviceModel>
    <client/>
    <bindings>
      <basicHttpBinding>
        <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="1000000000" maxReceivedMessageSize="1000000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="1000000000" maxArrayLength="1000000000" maxBytesPerRead="4096" maxNameTableCharCount="1000000000"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing, Warning, Error, Critical" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Information, ActivityTracing, Warning, Error, Critical">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>