<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Calendar" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Charts" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.ColorPicker" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DataGrids" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DataGrids.Excel" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DataGrids.Word" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DataManager" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DataTree" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DataVisualization" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DialogWindow" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DockManager" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Documents.Core" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.DragDrop" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Editors" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Excel" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Math" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Menus" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.OutlookBar" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Reporting" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Ribbon" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Schedules" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Schedules.Dialogs" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Schedules.Exchange" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Schedules.Wcf" version="25.2.45" targetFramework="net48" />
  <package id="Infragistics.WPF.Slider" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.SpellChecker" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.TagCloud" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Themes.Fall" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Themes.ForestGreen" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Themes.Leaf" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Themes.Lipstick" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Themes.Water" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Themes.Wind" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.TileManager" version="25.2.59" targetFramework="net48" />
  <package id="Infragistics.WPF.Word" version="25.2.59" targetFramework="net48" />
</packages>